<div class="ui piled segment">
  <div class="ui two columns grid">
    <div class="column">
      <div class="ui header"><i class="user icon"></i> <%= @user.name%></div>
    </div>
    <div class="column">
      <div class="ui header"><i class="envelope icon"></i> <%= @user.email %></div>
    </div>
  </div>

  <div class="ui centered two column grid">
    <div class="center aligned column">
      <div class="ui tall stacked segment">
        <img src="<%= @user.avatar.url %>" alt="" class="ui medium centered rounded image">
      </div>
    </div>
    <div class="column">
      <div class="ui tall stacked segment">
        <div class="ui two column grid">
          <div class="column">
            <div class="ui small statistic">
              <div class="label">Orders</div>
              <div class="value">
                <i class="numeric icon"></i>
                <span> <%= @user.orders.count %> </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui header">Room: <%= link_to @user.room.name,@user.room %></div>
        <div class="ui header">Ext: <%= @user.ext %></div>
        <% if current_user.isadmin %>
            <div class="ui two buttons">
              <%= link_to 'Edit', edit_user_path(@user),class: "ui primary button" %> |
              <%= link_to 'Back', users_path,class: "ui basic blue button" %>

            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
