<div class="ui two column stackable grid">
  <div class="six wide column">
    <table class="ui selectable table" id="slim">
      <tbody>

    
      </tbody>
    </table>
    <%= form_for(order,:html => { :id => "mainform" })  do |f| %>
        <div class="ui form">
          <div class="fields">
            <div class="sixteen wide field">
            <div class="field">
              <%= f.label :note %>
              <%= f.text_area :note %>
             </div>
            </div>
          </div>
          <div class="fields">
            <div class="sixteen wide field">
              <%= f.label :room_id %>
              <%= f.select :room_id, options_for_select(Room.all.map{|r|[r.name, r.id]}) %>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui grid">
          <div class="ui fourteen wide horizontal statistics">
            <div class="statistic">
              <div class="label">Total</div>
              <div class="value" >
                <i class="pound icon"></i>
                <span id="valuepound"> 0.00 </span>
              </div>
            </div>
          </div>
          <div class="ui two wide" style="padding-top: 14px">
            <div class="ui positive button" id="submitbutton">Submit</div>
          </div>
        </div>
    <% end %>
  </div>
  <div  class="ten wide column">
    <div class="ui form">
      <div class="three fields">
        <div class="field">
          <%= form_for(order,:html => { :id => "userform" }) do |f| %>
              <%= f.label :user_id %>
              <%= f.select :user_id , options_for_select(User.all.map{|r|[r.email, r.id]}) %>
          <% end %>
        </div>
        <div class="field">
          <%= form_for(Product.new) do |f| %>
              <%= f.label :category_id %>
              <%= f.select :category_id , options_for_select(Category.all.map{|r|[r.name, r.id]}) %>
          <% end %>
        </div>
        <div class="field">
          <label>Search</label>
          <input type="text" id="searchbox" placeholder="Search">
        </div>
      </div>
    </div>
    <div  id="productdiv" class="ui four column grid" style="height: 500px; overflow-y: auto;">
   
    </div>
  </div>
</div>

<%= form_for(order) do |f| %>
    <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :status %>
      <%= f.select :status, Order.statuses.keys  %>
    </div>

    <div class="field">
      <%= f.label :note %>
      <%= f.text_area :note %>
    </div>

    <div class="field">
      <%= f.label :user_id %>
      <%= f.select :user_id, options_for_select(User.all.map{|u|[u.email, u.id]}) %>
    </div>

    <div class="field">
      <%= f.label :room_id %>
      <%= f.select :room_id, options_for_select(Room.all.map{|r|[r.name, r.id]}) %>
    </div>

    <div class="field">
      <%= f.label :product_ids %>
      <%= f.collection_select :product_ids, Product.all, :id, :name, {}, { multiple: true } %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
