<%= form_for(room,:html => {:class =>"ui form"}) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

    <% if room.errors.any? %>
        <div class="ui error message" style="display: block">
          <div class="header"><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</div>
          <ul class="list">
            <% room.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit class: "ui primary button" %>
    </div>
<% end %>
