
<div class="ui header">Rooms</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.address %></td>
        <td><%= link_to semantic_icon('play'), room %></td>
        <td><%= link_to semantic_icon('edit'), edit_room_path(room) %></td>
        <td><%= link_to semantic_icon('remove'), room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path,class: "ui primary button" %>
