<%= form_for(product, :html => {:class => "ui form", :multipart => true}) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>

    <div class="field">
      <%= f.label :category_id %>

      <%= f.select(:category_id) do %>
          <% categories_array = Category.all.map {|cat| [cat.name, cat.id]} %>
          <% categories_array.each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
      <% end %>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :available %>
        <%= f.label :available %>
      </div>

    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <% if product.errors.any? %>
        <div class="ui error message" style="display: block">
          <div class="header"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</div>
          <ul class="list">
            <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit class: "ui primary button" %>
    </div>


<% end %>
