<!-- Following Menu -->
<div class="ui inverted large top fixed menu transition visible" style="display: flex !important;">
  <div class="ui container">
    <a class="active item" href="/">Home</a>
    <a class="item" href="/admin/products">Products</a>
    <a class="active item" href="/admin/products">Users</a>
    <a class="item" href="#">Manual Order</a>
    <div class="right menu">
      <% if user_signed_in? %>
          <a href="/usres/<%= current_user.id %>" class="item"><%= current_user.email %></a>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'ui button' %>
      <% else %>
          <div class="item">
            <%= link_to "Login", new_user_session_path, :class => 'ui button' %>
          </div>
          <div class="item">
            <%= link_to "Sign up", new_user_registration_path, :class => 'ui primary button' %>
          </div>
      <% end %>
      </p>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left">
  <a class="active item" href="/">Home</a>
  <a class="item" href="/admin/products">Products</a>
  <a class="active item" href="/admin/products">Users</a>
  <a class="item" href="#">Manual Order</a>
  <% if user_signed_in? %>
      <a href="/usres/<%= current_user.id %>" class="item"><%= current_user.email %></a>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'item' %>
  <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'item' %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'item' %>
  <% end %>
</div>