<!-- Following Menu -->
<div class="ui inverted large top fixed menu">
  <div class="ui container">
    <a class="active item" href="/">Home</a>
    <a class="item" href="<%= orders_for_user_path current_user%>">My Orders</a>
    <div class="right menu">
      <a href="#" class="item"><img src="<%= current_user.avatar.url(:thumb)%>" alt="" class="ui circular mini image"></a>
      <a href="#" class="item"><%= current_user.email %></a>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'item' %>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left">
  <a class="active item" href="/">Home</a>
  <a class="item" href="#">My Orders</a>
  <a href="#" class="item"><%= current_user.email %></a>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'item' %>
  <%= link_to "Login", new_user_session_path, :class => 'item' %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'item' %>
</div>