<!DOCTYPE html>
<html>
<head>
  <title>RubyCafe</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="margin-top: 100px" class="<%= controller_name %> <%= action_name %>">


<%= semantic_flash %>
<% if user_signed_in? %>
    <% if current_user.isadmin %>
        <%= render 'layouts/admin_nav' %>
    <%else%>
        <%= render 'layouts/user_nav' %>
    <% end %>
<% else %>
    <%= render 'layouts/guest_nav' %>
<% end %>

<div class="ui container">
  <%= yield %>
</div>

</div>
</body>
</html>
