<!DOCTYPE html>
<html>
<head>
  <title>RubyCafe</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="margin-top: 100px">


<%= semantic_flash %>

<div class="ui container">
  <%= yield %>
</div>

</div>
</body>
</html>
